.details__bins {
  padding: 0.4rem 0.2rem;
}

.details__bins__xaxis {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding: 1rem;
}

.section__select {
  width: 12rem;
  height: 3rem;
  color: whitesmoke;
}
.bins__count {
  height: 3rem;
  border: 1px solid #edf5e1;
  width: 22rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-around;
  background-color: #fff;
}

.bins__count__name {
  height: 3rem;
  border: 1px solid #edf5e1;
  box-shadow: 0px 2px 2px #41414145;
  width: 14rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-around;
  background-color: #fff;
}

.bins__capacity {
  height: 3rem;
  border: 1px solid #fff;
  box-shadow: 0px 2px 2px #41414145;
  width: 32rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
  background-color: #fff;
}
.bins__count__capacity {
  font-weight: 500;
}

.details_bins_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.bins__status__icons {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.status__align__right {
  margin-right: 1rem;
}

.bins__status__occupied {
  height: 1rem;
  width: 1rem;
  background-color: red;
  border-radius: 50%;
}
.bins__status__free {
  height: 1rem;
  width: 1rem;
  background-color: #41b3a3;
  border-radius: 50%;
}

.bins__status__loading {
  height: 1rem;
  width: 1rem;
  background-color: #eba87c;
  border-radius: 50%;
}
.bin__status__typography {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1px;
}
.bins__load__status__xaxis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.bins__calendar {
  margin-right: 8rem;
}

.bins__calendar__input {
  border: none;
  height: 2.8rem;
}
.bins__calendar__input:active,
.bins__calendar__input:focus {
  border: none;
  outline: none;
}

.truck_assignment_loading {
  padding: 0.1rem 1rem;
  display: flex;
  margin-top: 3rem;
}
