.logo-section {
  display: flex;
  gap: 4px;
}
.logo__grain__updated {
  height: 2.4rem;
}
.logo-section__name {
  font-weight: 700;
  font-size: 1.6rem;
}
.logo-section_vertical {
  border-right: 2px solid grey;
}
.header {
  padding: 0 1.6rem;
  font-size: 1.4rem;
  height: 4rem;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfcfc;
  border-top: 3px solid #cc0000;
  box-shadow: 0px 2px 2px #41414145;
  z-index: 111111;
  @media only screen and (max-width: 31.25em) {
    flex-wrap: wrap;
    align-content: space-around;
    height: 4rem;
  }
}

.search {
  flex: 0 0 20%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__input__button {
  background-color: var(--color-grey-light-3);
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}
.search__button__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3);
}
.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;
}

.user-nav > * {
  padding: 0 0.4rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__user-photo {
  height: 2.75rem;
  border-radius: 50%;
}

.user-dropdown {
  height: 3rem;
  width: 3rem;
}

.user_role {
  font-weight: 500;
  font-size: 1.4rem;
}
.menu__item__selection {
  margin-top: 2rem;
}
